<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bienvenido a la vista de tu asistencia</ion-card-subtitle>
      <ion-card-title>Ramos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Materia 1</ion-label>
          <ion-label>% Asistencia 1</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Materia 2</ion-label>
          <ion-label>% Asistencia 2</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
