<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content color="light">
    <div class="center-container">
      <ion-card>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button default-href="#"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
        <div id="head-card-registro" class="ion-padding center-content">
          <ion-icon id="icon-registro" name="push-outline"></ion-icon>
          <ion-card-header>
            <ion-card-title>Registrate</ion-card-title>
          </ion-card-header>
        </div>
        <ion-card-content>
          <form
            #formularioRegistro="ngForm"
            (ngSubmit)="onSubmit(formularioRegistro)"
          >
            <ion-list inset>
              <ion-item>
                <ion-input
                  labelPlacement="floating"
                  name="name"
                  type="text"
                  required
                  [(ngModel)]="loginData.name"
                  label="Nombre"
                >
                </ion-input>
                <ion-icon slot="start" name="person-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-input
                  labelPlacement="floating"
                  name="lastname"
                  type="text"
                  required
                  [(ngModel)]="loginData.lastname"
                  label="Apellido"
                >
                </ion-input>
                <ion-icon slot="start" name="reader-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-input
                  labelPlacement="floating"
                  name="email"
                  type="email"
                  required
                  [(ngModel)]="loginData.email"
                  (ngModelChange)="validateEmail(email)"
                  #email="ngModel"
                >
                  <div slot="label">Email</div>
                </ion-input>
                <ion-icon slot="start" name="mail-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <!-- Input de Contrasena xd-->
                <ion-input
                labelPlacement="floating"
                name="password"
                type="password"
                required
                minlength="8"
                [(ngModel)]="loginData.password"
                #password="ngModel"
                label="Contraseña"
                >
                </ion-input>
                <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <!-- Input de Confirmacion Contrasena xd-->
                <ion-input
                  labelPlacement="floating"
                  name="confirmPassword"
                  type="password"
                  required
                  [(ngModel)]="loginData.confirmPassword"
                  label="Confirmar Contraseña"
                >
                </ion-input>
                <ion-icon
                  slot="start"
                  name="checkmark-circle-outline"
                ></ion-icon>
              </ion-item>
            </ion-list>
            <ion-button
              expand="block"
              type="submit"
              [disabled]="!formularioRegistro.valid"
            >
              Registrarme
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-content>
