<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>

    <ion-button slot="end" (click)="logout()" color="danger">
      <ion-icon name="power-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://www.gravatar.com/avatar?d=identicon">
        </ion-avatar>
        <ion-label>
          <h1 *ngIf="user">{{user.nombre}} {{user.apellido}}</h1>
          <p>Profesor</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item class="sede-item">
      <ion-label>Sede:</ion-label>
      <ion-label>Sede Monte Olimpo</ion-label>
    </ion-item>

    <!-- Campo para agregar nueva sección -->
    <ion-item>
      <ion-input
        type="text"
        placeholder="Nombre de la nueva sección"
        [(ngModel)]="newSectionName"
      ></ion-input>
      <ion-button slot="end" (click)="confirmCreateSection()" color="primary">
        Crear Sección
      </ion-button>
    </ion-item>
  </div>

  <!-- Sección de clases -->
  <ion-list class="section-container">
    <button
      *ngFor="let section of sections"
      (click)="onSectionSelect(section.id)"
      class="section-button">
      {{ section.name }}
    </button>
  </ion-list>
  

  <!-- Fechas de asistencia -->
  <ion-list *ngIf="selectedSection">
    <ion-item *ngFor="let date of attendanceDates" (click)="onDateSelect(date.date)">
      <ion-label>
        {{ date.date }}
        <span *ngIf="date.classTime">
          - {{ date.classTime | date: '' }}
        </span>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Estudiantes para la fecha seleccionada -->
  <ion-list *ngIf="selectedDate">
    <ion-item *ngFor="let student of studentsForDate">
      <ion-label>{{ student.nombre }} {{ student.apellido }} ({{ student.email }})</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary" routerLink="/scanner" class="bottom-button">
    <ion-icon name="qr-code-outline"></ion-icon>
    <ion-label>Mostrar QR</ion-label>
  </ion-button>
</ion-content>
