<ion-header>
  <ion-toolbar>
    <ion-title>Generate QR Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="classForm">
    <!-- Dropdown for selecting a section -->
    <ion-item>
      <ion-label>Section</ion-label>
      <ion-select formControlName="section" placeholder="Select a section">
        <ion-select-option *ngFor="let section of sections" [value]="section.id">
          {{ section.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Button to generate the QR code -->
    <ion-button expand="block" (click)="generateQrCode()">Generate QR Code</ion-button>
  </form>

  <!-- Display the QR code if qrCodeData is generated -->
  <div *ngIf="qrCodeData" class="qr-code-container">
    <qrcode [qrdata]="qrCodeData" [width]="200"></qrcode>
  </div>
</ion-content>
