<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Generar QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="classForm" class="form-container">
    <!-- Dropdown for selecting a section -->
    <ion-item>
      <ion-label>Secciones</ion-label>
      <ion-select formControlName="section" placeholder="Seleccione una Sección">
        <ion-select-option *ngFor="let section of sections" [value]="section.id">
          {{ section.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Button to generate the QR code -->
    <ion-button expand="block" (click)="generateQrCode()" class="generate-button">
      Generar Código QR
    </ion-button>
  </form>

  <!-- Display the QR code if qrCodeData is generated -->
  <div *ngIf="qrCodeData" class="qr-code-container">
    <qrcode [qrdata]="qrCodeData" [width]="200"></qrcode>
  </div>
</ion-content>
