.center-buttons {
    display: flex;
    justify-content: center;   
    align-items: center;       
    flex-direction: column;   
    height: 50vh;             
  }
  
  .center-buttons ion-button {
    width: 100%;               
    max-width: 300px;          
  }
  
  ion-icon{
    display: block;
    margin: 0 auto;
    font-size: 100px; 
    color: #3880ff;
  }

  ion-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    font-weight: bold;
    height: auto;
  }
  
  ion-card-subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  
  ion-card-title {
    font-size: 1.1rem;
    color: #666;
  }
  