<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-icon class="ion-padding" name="newspaper-outline"></ion-icon>
      <ion-card-header class="welcome-text">
        <ion-card-subtitle>Comencemos</ion-card-subtitle>
        <ion-card-title>Accede o Registrate en la aplicacion de asistencia</ion-card-title>
      </ion-card-header>

      <div class="center-buttons">
        <ion-button expand="block" shape="round" color="secondary" routerLink="/login">Iniciar Sesion</ion-button>
        <ion-button expand="block" shape="round" color="secondary" routerLink="/registro">Registrarse</ion-button>
      </div>
    </ion-card>
  </ion-content>
