  <ion-header [translucent]="true">

  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
    </ion-header>

    <div class="welcome-text">
      <h1>Bienvenido</h1>
      <p>Accede o crea una cuenta para comenzar</p>
    </div>

    

    <div class="center-buttons">
      <ion-button expand="block" routerLink="/login">Iniciar Sesion</ion-button>
      <ion-button expand="block" routerLink="/registro">Registrarse</ion-button>
    </div>
    

  </ion-content>
