<ion-content >
  <ion-header collapse="condense">

  </ion-header>
  <ion-content color="light">
    <div class="center-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Iniciar Sesion</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list inset>
            <ion-item>
              <ion-input labelPlacement="floating" value="">
                <div slot="label">Email</div>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input labelPlacement="floating" value="">
                <div slot="label">Contraseña</div>
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-content>
