<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content color="light">
    <div class="center-container">
      <ion-card>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button default-href="#"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
        <div id="head-card-login" class="ion-padding center-content">
          <ion-icon id="icon-login" name="person-circle-outline"></ion-icon>
          <ion-card-header>
            <ion-card-title>Iniciar Sesión</ion-card-title>
          </ion-card-header>
        </div>
        <ion-card-content>
          <form [formGroup]="loginForm" class="auth-form" (ngSubmit)="submit()">
            <ion-list inset>
              <ion-item>
                <ion-input
                  labelPlacement="floating"
                  formControlName="email"
                  type="email"
                  required
                >
                  <div slot="label">Email</div>
                </ion-input>
              </ion-item>
              <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched" class="error-message">
                <ion-text color="danger">Por favor ingresa un correo válido</ion-text>
              </div>

              <ion-item>
                <ion-input
                  labelPlacement="floating"
                  formControlName="password"
                  type="password"
                  required
                  minlength="8"
                >
                  <div slot="label">Contraseña</div>
                </ion-input>
              </ion-item>
              <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="error-message">
                <ion-text color="danger">La contraseña debe tener al menos 6 caracteres</ion-text>
              </div>
            </ion-list>
            <ion-button
              expand="block"
              type="submit"
              [disabled]="loginForm.invalid"
              color="light"
            >
              Iniciar Sesión
            </ion-button>
            <ion-button type="button" expand="block" fill="clear" shape="round" (click)="navigateToRecuperarPw()">
              ¿Olvidaste tu contraseña?
            </ion-button>            
            <ion-button type="link" routerLink="/registro" expand="block" fill="clear" shape="round">
              ¿No tienes cuenta? Regístrate
            </ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-content> 
