<ion-content class="ion-padding background-image" [fullscreen]="true">
  <div class="welcome-container">
    <div class="welcome-title">BIENVENIDO</div>
    <p class="welcome-subtitle">A tu aplicación de asistencia virtual</p>
  </div>
</ion-content>

<footer>
  <ion-toolbar>
    <ion-item routerLink="/elegir">
      <ion-icon
        color="primary"
        slot="end"
        name="arrow-forward-outline"
      ></ion-icon>
      <ion-label id="edit-button">Siguiente</ion-label>
    </ion-item>
  </ion-toolbar>
</footer>
