<ion-header>
    <ion-img src="assets/img/Logo-duoc-simple.jpg"></ion-img>
</ion-header>
<ion-content class="ion-padding background-image" [fullscreen]="true">
  <div class="welcome-container">
    <div class="ion-padding">
    <ion-icon id="icon-bienvenida" slot="start" name="school-outline" color="primary"></ion-icon>
    </div>
    <ion-title class="welcome-title ion-padding" color="secondary">BIENVENIDO(A)</ion-title>
    <p class="welcome-subtitle ion-padding" >A tu aplicación de asistencia virtual</p>
  </div>
</ion-content>

<footer color="secondary">
  <ion-toolbar>
    <ion-item routerLink="/elegir">
      <ion-icon
        color="light"
        slot="end"
        name="arrow-forward-outline"
      ></ion-icon>
      <ion-label id="edit-button">Siguiente</ion-label>
    </ion-item>
  </ion-toolbar>
</footer>
