<ion-content class="ion-padding">
  <!-- Welcome Section -->
  <ion-card *ngIf="user" class="welcome-card">
    <ion-card-content>
      <h2>Bienvenido {{ user.nombre }}</h2>
    </ion-card-content>
  </ion-card>

  <!-- Inscription Section -->
  <div class="container" > <!--*ngIf="!lastAttendance.sectionName"-->
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Inscripción de ramos
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Add inscription form here -->
        <ion-button (click)="navigateToInscripcion('')" expand="block" fill="clear" shape="round">
          Click me
        </ion-button>
        <ion-button (click)="navigateToInscripcion(user.uid)">
          Aqui
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Last Attended Class -->
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Última clase atendida</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-icon name="book-outline" slot="start" color="warning"></ion-icon>
            <ion-label>
              <ion-text color="medium">Sección:</ion-text>
              <ion-text class="ion-padding-start value-text">{{ lastAttendance.sectionName }}</ion-text>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="calendar-outline" slot="start" color="warning"></ion-icon>
            <ion-label>
              <ion-text color="medium">Fecha:</ion-text>
              <ion-text class="ion-padding-start value-text">{{ lastAttendance.timestamp | date: 'shortDate' }}</ion-text>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="time-outline" slot="start" color="warning"></ion-icon>
            <ion-label>
              <ion-text color="medium">Hora:</ion-text>
              <ion-text class="ion-padding-start value-text">{{ lastAttendance.timestamp | date: 'shortTime' }}</ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Attendance by Subject -->
   <!-- Utilización de sections, una lista armada a través de ts -->
   <!-- Organización de las secciones en el párrafo a través del ngFor 
    Ni siquiera está argando este div-->
  <div class="container">
    <ion-card *ngFor="let section of sections">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Asistencia Carrera: {{ section.carrera }}</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <ion-list>
          <ion-item class="section">
            <ion-label>{{ section.nombre }}</ion-label>
          </ion-item>
        </ion-list>
        
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Bottom Navigation -->
<ion-tabs>
  <div slot="bottom">
    <ion-tab-bar>
      <ion-tab-button tab="scanner" routerLink="scan">
        <ion-icon name="qr-code-outline" ></ion-icon>
        <ion-label>Escanner QR</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile" routerLink="user">
        <ion-icon name="person-outline" ></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </div>
</ion-tabs>

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="scan" routerLink="scan">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Escanear QR</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
</ion-content>


