<ion-content class="ion-padding">
  <!-- Welcome Section -->
  <ion-card class="welcome-card">
    <ion-card-content>
      <h2>Bienvenido {{ user?.nombre || 'Usuario' }}</h2>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" routerLink="/asistencia">
          <ion-icon slot="start" name="newspaper-outline"></ion-icon>
          Asistencia
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" routerLink="/scan">
          <ion-icon slot="start" name="qr-code-outline"></ion-icon>
          Escanear QR
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" routerLink="/user">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          Perfil
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" routerLink="/config">
          <ion-icon slot="start" name="settings-outline"></ion-icon>
          Configuración
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Spinner de carga -->
  <ion-spinner *ngIf="loading" name="crescent" color="primary"></ion-spinner>

  <!-- Last Attended Class -->
  <div class="container" *ngIf="!loading && lastAttendance">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Última clase atendida</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-icon
              name="book-outline"
              slot="start"
              color="warning"
            ></ion-icon>
            <ion-label>
              <ion-text color="medium">Sección:</ion-text>
              <ion-text class="ion-padding-start value-text"
                >{{ lastAttendance?.sectionName || 'No disponible' }}</ion-text
              >
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-icon
              name="calendar-outline"
              slot="start"
              color="warning"
            ></ion-icon>
            <ion-label>
              <ion-text color="medium">Fecha:</ion-text>
              <ion-text class="ion-padding-start value-text"
                >{{ lastAttendance?.timestamp | date: 'shortDate' || 'No disponible' }}</ion-text
              >
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-icon
              name="time-outline"
              slot="start"
              color="warning"
            ></ion-icon>
            <ion-label>
              <ion-text color="medium">Hora:</ion-text>
              <ion-text class="ion-padding-start value-text"
                >{{ lastAttendance?.timestamp | date: 'shortTime' || 'No disponible' }}</ion-text
              >
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
