.value-text {
  color: var(--secondary-color) !important;
}

@mixin flexible-card {
  max-width: 500px; // Responsive baseline size

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.733);
  background-color: var(--dark-surface);
}

.welcome-card {
  @include flexible-card;
  background-color: hsl(212, 70%, 10%);
  color: var(--secondary-color);
  text-align: center;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 15px;
  }
}

ion-item {
  --background: transparent;
  --border-color: transparent;
  
  ion-icon {
    font-size: 24px;
    margin-right: 12px;
  }
}

ion-list {
  background: transparent;
  padding: 0;
}

ion-card-header {
  border-bottom: 1px solid var(--border-color);
}

ion-card-title {
  color: var(--secondary-color) !important;
  font-size: 1.2rem;
  font-weight: 600;
}

// Update your global variables in app.scss or theme/variables.scss
:root {
  --ion-color-warning: #FFCD00;
  --ion-color-warning-rgb: 255, 205, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0b400;
  --ion-color-warning-tint: #ffd21a;
}